@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
// [data-theme='dark'] {
// 	background-color: black;
// 	--text-color: #7b7b7b;
// }
// [data-theme='light'] {
// 	background-color: white;
// 	--text-color: black;
// }

@function fontSize($size) {
	@return $size / 16px * 1rem;
}

h1 {
	font-size: fontSize(40px);
	font-weight: 700;
	line-height: 2.25rem;
	color: var(--text-color);
}

h2 {
	font-size: fontSize(30px);
	font-weight: 500;
	color: var(--text-color);
}
h3 {
	color: var(--text-color);
}
